<section class="bg-dark">
  <div class="container mt-lg-5">
    <div class="row">
      <div class="col-md-4 text-center mt-lg-3 mb-5">
        <p class="mambaText">Mamba</p> <br>
        <a href=""> <i class="bi bi-meta"></i></a>
        <a href=""> <i class="bi bi-instagram"></i></a>
        <a href=""> <i class="bi bi-pinterest"></i></a>
      </div>
      <div class="col-md-2 mt-lg-5 text-center">
        <p>Links</p>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="menu">Menu</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-2 mt-lg-5 text-center">
        <p>Contact</p>
        <h6 class="text-white">(123) 123-1234 <br>
          email@example.com</h6>
      </div>
      <div class="col-md-2 mt-lg-5 text-center">
        <p>Hours</p>
        <h6 class="text-white">Monday - Sunday <br>
            10 am - 10 pm</h6>
      </div>
      <div class="col-md-2 mt-lg-5 text-center">
        <p>Location</p>
        <h6 class="text-white">1420 Willis Avenue <br>
            Jacksonville, FL 32216</h6>
      </div>
    </div>
  </div>
</section>
