<div class="hero">
  <div class="hero-text">
    <h1 class="yazi">Mamba Food</h1>
    <h3 class="mt-lg-4">Who is the Mamba</h3>
  </div>
  <div class="social icon">
    <a href=""> <i class="bi bi-meta"></i></a>
    <a href=""> <i class="bi bi-instagram"></i></a>
    <a href=""> <i class="bi bi-pinterest"></i></a>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <img src="../../assets/images/about1.jpeg" class="img-fluid img-thumbnail float-lg-start mt-5">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <h1 class="float-start word">How Mamba came to be</h1>
      <p class="text-start">Some of the best memories revolve around good food and family – that's why we welcome all of
        your loved ones,
        including children. We have dedicated family seating section towards the back of the restaurant. </p>
    </div>
  </div>
</div>


<div class="container ">
  <div class="row">
    <div class="col-md-5">
      <h1 class="float-start word">How Mamba came to be</h1>
      <p class="text-start">Some of the best memories revolve around good food and family – that's why we welcome all of
        your loved ones,
        including children. We have dedicated family seating section towards the back of the restaurant. </p>
    </div>
    <div class="col-md-6">
      <img src="../../assets/images/about2.png" class="img-fluid img-thumbnail float-lg-end">
    </div>
    <div class="col-md-1"></div>

  </div>
</div>
